.Weather__card {
    max-width: 500px;
    margin: 16px 0 0;    
    padding: 16px;
    text-align: center;
    border-radius: 10px;
}

.Weather__card.light {
    background-color: var(--card-color-light);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}