.App {
    background-image: url('/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    width: 100vw; height: 100vh;
    padding: 16px;
    margin: auto;
    text-align: center;
}

/*=============== LOADER ===============*/
.App__loader--image {
    background: var(--body-color-light);
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: fixed;
    /*display: flex; flex-direction: column;*/
    /*align-items: center; justify-content: center;*/
    z-index: 1000;
  }
  
  .App__loader--image img {
    margin-top: calc((( 100vh - 150px ) / 2 ) - 20px );
    width: 150px; height: auto;
    animation: scroll 1.5s infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(40px) rotate(180deg);
    }
    100% {
      transform: translateY(0) rotate(360deg);
    }
  }
  
.light { background-color: var(--body-color-light); }
.dark { background-color: var(--body-color-dark); }
    
.h1-autoresize--light { color: var(--title-color-light); }
.h1-autoresize--dark { color: var(--title-color-dark); }

.App__title {
    width: auto; height: auto; 
    max-width: 500px;
    margin: auto;
    padding: 16px;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    border-radius: 10px;
}

.App_title--container {
  display: flex; flex-direction: row;
  align-items: center; justify-content: space-between;
}

.App__title img { width: 50px; }

.App__title.light {
  background-color: var(--card-color-light);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.App__title.dark {
    background-color: var(--card-color-dark);
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.3);
}

.App__title button {
    background-color: var(--button-color-light);
    opacity: 0.5;
    filter: alpha(opacity=50);
    border: 1px solid #d5d9d9;
    
    width:40px; height: 40px;
    border-radius: 10px;
    
    font-size: 30px;
    cursor: pointer;
  
  
  
    
  
  
  
   
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;

    cursor: pointer;
   
    line-height: 29px;
  
    text-align: center;
    text-decoration: none;
    user-select: none;
  
    vertical-align: middle;
  
}
    
.App__title button:hover {
    background-color: #f7fafa;
    transform: scale(1.10);
    transition: transform 100ms ease;
}
    
/*.App__title button:focus {}*/