/*=============================================================================================*/
/* F U E N T E S
/*=============================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*=============================================================================================*/
/* R O O T
/*=============================================================================================*/
:root {
    --aquamarine: #34B0BE;
    --gray:       #D1CECA;
    --black:      #242635;
    --white:      #FFFFFF;
}

/*=============================================================================================*/
/* S E L E C T O R   U N I V E R S A L
/*=============================================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
}

h1 {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-style:normal;
    font-weight:lighter;
}

h3 {
    font-size: 16px;
    font-style:normal;
    font-weight:lighter;    
}

.h1-autoresize { font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (500 - 320))); }
.h2-autoresize { font-size: calc(32px + (50 - 32) * ((100vw - 320px) / (1128 - 320))); }
.h3-autoresize { font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1128 - 320))); }

.stylebold { font-weight: bold; }
.coloraqua { color: var(--aquamarine); }


#GeneralCard {
    background-color: whitesmoke;
    width: auto; height: auto;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }

@media screen and ( min-width: 500px ){
  .photo-01 { display: none; }
  .photo-02 { display: block; }

  .h1-autoresize { font-size: 40px; }
  .h2-autoresize { font-size: 50px; }
  .h3-autoresize { font-size: 22px; }

  .div-section-1 {
      max-height: 500px;
      display: flex; flex-direction: row;
      justify-content:center; align-items: center; 
  }

  .div-section-2 {
      padding-top: 0;
  }
}

/*border: 1px dashed blue;*/